body{
    background-color: black;}
.container{
background-color: white;
width: 400px;
height: 600px;
margin: auto;
}
.ladoizq{
    
}
.alinea{

}
.header{
    display: flex;
    align-items: center;
    padding: 10px;
}
.ladoder{
 margin-left: auto;
 margin-right: 0;
 
}